* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}

#main{
    height: 100vh;
    width: 100%;
    background-color: gray;
}

#nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 5vw;
    font-size: 1.5vw;
    position: fixed;
    z-index: 99;

}

.center_nav a{
    padding: 0vh 3vw;
}
#nav a{
    text-decoration: none;
    color: white;
}

.one{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(150deg,orange,orangered);
}
#fanta{
    width: 40%;
    z-index: 2;
    position: absolute;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1)0.5s;


}
#orangecut{
    position: absolute;
    top: 8%;
    left: 30%;
    width: 20%;
    z-index: 1;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1)0.5s;

}

#orange_group{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    z-index: 3;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1)0.5s;

}

.one h1{
    font-size: 25vw;
    display: flex;
    font-family:Verdana, sans-serif;
    color: white;
    position: absolute;
}

#leaf{
    position: absolute;
    left: 10%;
    z-index: 1;
    width: 20%;
    bottom: 4%;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1)0.5s;

}

#palmleaf{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 25%;
   
}

.two{
    height: 100vh;
    width: 100%;
    background-color: #dbf26e;
background-image: linear-gradient(#74D680,#378B29);
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_two{
    width: 50%;
    height: 100%;

   

  
}

.left_two #svg{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.right_two{
    width: 50%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vh 3vw;
    
}
.right_two h1{
    color: white;
    font-weight: 900;
    font-family: 'Gill Sans', Calibri, sans-serif;
    font-size: 5vw;
    margin: 3vh 0vw;
}

.right_two p{
    color: white;
    font-family: 'Gill Sans', Calibri, sans-serif;

   
}

.three{
    height: 100vh;
    width: 100%;
    background: linear-gradient(150deg,orange,orangered);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    position: relative;

}

.card
{
    margin-top: 15vh;
    height: 70vh;
    width: 24vw;
    background-color: white;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.three>.card>img{
   
    width: 30%;
    top: 9%;
    position: absolute;
    /* transition: all cubic-bezier(0.075, 0.82, 0.165, 1)0.5s; */

}
/* 
.three>.card>#coca{
   
    width:50%;
    top: 2%;
    position: absolute;
} */
.three>.card>h1{
    padding: 10px;
    color: black;
    font-size: 4vw;
    margin-top: 50vh;
    font-weight: 800;
    font-family: 'Gill Sans', Calibri, sans-serif;

}

.three>.card>button{
    height: 9vh;
    width: 10vw;
    padding: 12px;
    font-size: 1.3vw;
    font-weight: 700;
    margin-bottom: 2vh;
    background-color: darkorange;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #fff;

}